<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home: PostIt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <header>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                            <a class="navbar-brand" href="/">PostIt</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/signin">SignIn</a></li>
                                <li><a href="/signup">SignUp</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <main>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1><span class="glyphicon glyphicon-inbox"></span> POSTIT</h1>
                        <p>PostIt is a simple application that allows friends and colleagues create groups for notifications. This way one person can post notifications to everyone by sending a message once. The application allows people create accounts,
                            create groups and add registered users to the groups, and then send messages out to these groups whenever they want.</p>
                        <a href="/signup" class="btn btn-warning">Get Started</a>
                    </div>
                </div>
            </main>
            <footer>
                <p class="text-center text-muted">© Copyright 2017 PostIt.. A Trademark of Andela</p>
            </footer>
        </div>
    </div>
</body>

</html>