<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign Up: PostIt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-5">
                        <span class="glyphicon glyphicon-inbox"></span>
                        <h3>PostIt App</h3>
                        <span class="text-muted text-right">connect the world</span>
                    </div>
                    <div class="col-md-7">
                        <h4>Sign Up</h4>
                        <p>Already have a postit account? <a href="/signin">Sign In</a></p>
                        <form role="form" action="#" method="post">
                            <div class="form-group">
                                <label for="user">Username</label>
                                <input type="text" class="form-control" id="user" placeholder="enter user name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="enter email">
                            </div>
                            <div class="form-group">
                                <label for="pass">Password</label>
                                <input type="password" class="form-control" id="pass" placeholder="enter password">
                            </div>
                            <div class="form-group">
                                <label for="re_pass">Confirm Password:</label>
                                <input type="password" class="form-control" id="re_pass" placeholder="re-enter password">
                            </div>
                            <p>By signing up you are agreeing to these <a>terms and conditons</a></p>
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p class="text-center text-muted">© Copyright 2017 PostIt.. A Trademark of Andela Inc</p>
    </footer>
</body>

</html>